/
<template>
  <div>
    <button @click="toDateils">跳转</button>
  </div>
</template>

<script>
import { login } from "@/services/user";
export default {
  data() {
    return {};
  },
  onLoad() {
    this.login();
  },
  methods: {
    async login() {
      const [, { code }] = await uni.login();
      console.log(code,'123');
      const [
        ,
        {
          data: { token_type, access_token },
        },
      ] = await login({
        principal: code,
      });

      uni.setStorage({
        key: "token",
        data: `${token_type}${access_token}`,
        success: function () {
          console.log("success");
        },
      });
    },
    toDateils() {
      this.$toPage({
        url: "/pages/details/index",
        query: {
          id: 10,
        },
      });
    },
  },
};
</script>

<style></style>
